<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"wide","layout":{"type":"default"}} -->
<main class="wp-block-group alignwide">

	<!-- wp:paragraph {"className":"text-green-500 text-2xl font-bold"} -->
	<p class="wp-block-paragraph text-green-500 text-2xl font-bold">Tailwind test paragraph</p>
	<!-- /wp:paragraph -->

	<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"top-bar","area":"footer","tagName":"footer"} /-->
<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->

